.category {
  &-item {
    margin: 3rem 0;
    height: 150px;

    img {
      width: 120px;
      display: block;
      margin: auto;
      @include transition(all 0.2s);
    }
    & > div {
      color: var(--gold-text-dark);
      text-align: center;
      @include transition(all 0.2s);
    }
    &:hover {
      img {
        transform: translateY(-5%);
      }
      & > div {
        
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
