.slide-item {
  //   border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  &.big {
    height: 330px;
  }
  &.small {
    height: 160px;
  }
  img {
    width: 100%;
  }
  .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 4rem;
    background: rgb(255 232 208 / 84%);
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(4px);
  }
  &:hover {
    .text {
      transform: translateY(0);
    }
  }
}
